[submodule "Hyperion/vendor/spdlog"]
	path = Hyperion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hyperion/vendor/imgui"]
	path = Hyperion/vendor/imgui
	url = https://github.com/aadeshrao123/imgui.git
