# Binaries
**/bin/
bin-intermediate/
Intermediates/

# Ignore build directories
build/
cmake-build-*/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
